/*--------------------- HEADER SECTION ------------------------------*/


/*---------
NAV BAR
----------*/

.nav-theme{
    /* background-color: transparent;*/
    background-color: rgb(184, 223, 233);
}
.brand-name{
    margin-left: 190px;
}
/*  
    background-image: url(images/wallpaper/1.jpg);
    width:100%;
    position: relative;
*/

/*----------- 
       First section 
---------------*/
header .container{
    
    position: relative;

}
.caption{
    margin-top: 200px;
    margin-left: 50px;
}
.caption h1{
    font-weight: 800;
}
.caption article{
    font-weight: 500;
}
.caption button{
    border-radius: 25px;
}

/*-------------
        FIRST CARDS WITH CAPTION 
        -------------------*/

.card-position{
    position:relative;
}  
.card-movement{
    justify-content: center;
}   
.card-icon{
    margin-top: 30px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
} 
.card-title{
    font-weight: 700;
}     
.card-text{
    font-weight: 500;
}




/*--------------------- MAIN SECTION ------------------------------*/
main {
    background-color:#252B42;
    background-size:cover;
}
.middle-caption{
    padding-top: 150px;
}
 /*--------- pricing section -----------*/
 .pricing-card{
     margin-top: 4rem;
     max-width:70rem;
 }
 .single-price-card{
     /* ekhane left use na korle card guloke kono vabei shorano jacchilo na !! -__- */
    left: 8rem;
    height: 45rem;
 }
.zero{
    font-size: 4rem;
}
.check-icon{
    width: 1.8rem;
    height: 1.8rem;
}
.red-cross{
    width: 1.8rem;
    height: 1.8rem;
    /*margin-right: 3.8rem;*/
}
.icon-text{
display: flex;
flex-direction: row;
align-items: center;
}
.red-cross-text{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 3.9rem;
}



/*----------- price card button -------*/
.price-card-button{
border:0;
background-color:#49b6f5;
border-radius: 5px;
color: white;
font-size: 1.3rem;
font-weight: 700;
padding-left: 6rem;
padding-right: 6rem;
padding-top: 1.4rem;
padding-bottom: 1.4rem;
}

/*----------------------- World Map wala Part--------------*/
.branch-text{
    margin-top: 5rem;
    margin-left:30rem;
    font-weight: 700;
}
.world-map{
    width: 40rem;
    height:30rem ;
    margin-left: 10rem;
}
